/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.groupWrap {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
}

.group {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.itemWrap {
  flex: 1;
  margin: 5px;
  flex-wrap: nowrap;
  padding: 1%;
}

.item {
  flex: 1;
  margin: 5px;
  align-items: flex-start;
}


.item-double {
  flex: 2;
}

.item img {
  width: 100%;
}

.item-double img{
  width: 100%;
}

.grid-row img {
  width: 100%;
}

.grid-column img{
  width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 10px;
}

/* Groups and items (Desktop) */
@media all and (min-width: 480px) {
  section,
  h1 {
    padding: 0 10%;
  }

  .group {
    flex-direction: row;
    padding: 1%;
  }

  .grid-column {
    display: flex;
    flex: 1;
    flex-direction: column; 
    margin: 10px;
  }

  .grid-row {
    display: flex;
    flex: 1;
    flex-direction: row;
  }
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  text-align: left;
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 65%;
  float: right;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */